body {
	background-color: #F3EDEA;
}

/* Header  */

.header {
	height: 100px;
	background-color: #FFFFFF;
	border-bottom: 2px solid #C2BEBB;
	width: 100%;
	z-index: 301;
}

.logo {
	padding: 20px;
	width: 30%;
	float: left;
}

.header-right {
	float: right;
	height: 100%;
	background-color: #ff460c;
	width: 240px;
}

.header-right .btn_basket {
	font-family: Roboto Slab;
	color: #fff;
	padding: 20px 30px;
	float: left;
	padding-top: 30px;
}

.btn_basket p {
	font-size: 21px;
	font-weight: 600;
	margin: 0;
	line-height: 0.8;
	float: left;
}

.btn_basket span {
	font-size: 16px;
  font-weight: 400;
	color: #A7340F;
}

.btn_basket i {
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #fff;
	float: left;
}
/* End header  */
/* left menu  */

.nav-sidebar {
  background-color: #35302d;
  border-radius: 5px;
  width: 283px;
	padding-left: 5px;
	padding-bottom:50px;
	margin: 20px;
}

.nav-sidebar h5 {
  border-bottom: 1px solid #181614;
  color: #6d6560;
  margin: 0;
  margin-left: -5px;
  padding: 30px 10px 5px 15px;
}

.nav-sidebar hr {
  margin: 0;
  margin-left: -5px;
	border-top: 1px solid #5a514c;
}

.nav-sidebar  li {
	border-bottom: 1px solid #5a514c;
	transition: transform 0.3s;
}

.nav-sidebar .active {
	border-left: 5px solid #e30613;
	margin-left:-10px;
}

.nav-sidebar  li:hover {
	border-left: 5px solid #e30613;
	margin-left: -5px;
	transition: transform 0.3s;
	transform: translateX(-5px);
}

.nav-sidebar  li a {
	padding: 20px 0px 20px 23px;
  font-size: 1.313em;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	line-height: 1.2;
}

.nav-sidebar  li a:hover {
	border-radius: 5px;
	background-color: #2d2823;
}

.nav-sidebar  li a:focus {
	outline: none;
	background-color: #2d2823;
}

.nav-sidebar li a .label {
	position: absolute;
  top: 10px;
  right: 10px;
  font-family: Roboto Slab;
  font-size: 12px;
}

.icon {
	float:left;
	margin-right: 30px;
	margin-top: 5px;

}

.icon_hotdishes {
  display: block;
  text-indent: -9999px;
  width: 36px;
  height: 32px;
  background: url(../img/Basket.svg);
  background-size: 36px 32px;
}

/* End left menu  */
/* SLIDE MENUS COMPONENT  */

.menu {
  position: fixed;
  z-index: 101;
  background-color: #35302d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  margin-top: 100px;
  overflow: hidden;
}

.menu-basket {
  width: 100%;
  height: 100%;
  width: 480px;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: translateX(480px);
  -ms-transform: translateX(480px);
  transform: translateX(480px);
}

.menu-basket.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}


.has-active-menu {
	-webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
/* END SLIDE MENUS COMPONENT  */


/* Button  */

.btn-default {
  color: #857771;
  background-color: white;
  border-color: #857771;
  font-family: Roboto Slab;
  font-weight: 700;
  border: 2px solid;
}

/* End Button  */
